{% extends "base.html"%}

{% block content %}
    <div>
        <form method="post">
            <!--Name-->
            <input type="text" name="name"/><br>
            <span id="name-verification"><br>

            <!--Surname-->
            <input type="text" name="surname"/><br>
            <span id="surname-verification"><br>

            <!--Email-->
            <input type="email" name="email"/><br>
            <span id="email-verification"><br>

            <!--Password-->
            <input type="password" name="password"/><br>
            <span id="password-verification"><br>

            <!--Password Confirmation -->
            <input type="password" name="confirm-password"/><br>
            <span id="confirm-password-verification"><br>
            
            <input type="submit" value="submit"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    
{% endblock %}
